* {
    font-family:Arial, Helvetica, sans-serif
}

h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.recipe-link {
    color: hsl(0, 0%, 0%);
    font-weight: 300;
    font-size: 22px;
    text-decoration: none;
    line-height: 30px;
}
